<div class="col-lg-12">
    &nbsp;
</div>
<div class="col-lg-12">
    &nbsp;
</div>
<div class="row">
<div class="col-md-12">
    <span style="float:right;">
         <a [routerLink]="['/content/insert']" class="btn btn-cs">Add New</a>
    </span>
</div>
</div>
<div class="col-md-12">
    &nbsp;
</div>
<div class="col-lg-12">
    <div class="table-responsive" style="padding:15px 0;">
        <select class="chzn-select chzn-done" style="font-size:16px;margin-left:3px;" name="bullkaction" id="bulkaction">
            <option value="">Select</option>
            <option value="copy">Copy</option>
            <option value="delete">Delete</option>
        </select>
        <input type="submit" name="button" id="apply" value="Apply" class="btn btn-cs" style="padding-top:0px;padding-bottom:0px;">

        <div class="panel panel-default">
            <div class="panel-heading">Student Information</div>
            <table class="table table-striped" [mfData]="contentlistData | dataFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                    <th style="width: 20%">
                        <mfDefaultSorter by="content">Content</mfDefaultSorter>
                    </th>
                    <th style="width: 40%">
                        <mfDefaultSorter by="questions">Questions</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter>Testing</mfDefaultSorter>
                    </th>
                    <th style="width: 20%"> Edit Content
                    </th>
                </tr>
                <tr>
                    <th colspan="5">
                        Filter by name:
                        <input class="form-control" [(ngModel)]="filterQuery"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                    <td>{{item.resource_name}}</td>
                    <td>{{item.question}}</td>
                    <td class="text-right"><a [routerLink]="['/questions',item.resource_id]">Manage Test</a></td>
                    <td>
                        <a class="btn btn-small btn-warning btn-sm" [routerLink]="['/content/edit',item.resource_id]"><i class="fa fa-pencil" title="Update"></i></a>
                        <a class="btn btn-small btn-danger btn-sm" data-toggle="modal" data-backdrop="false" href="#deleteContentModal" (click)="openDeleteContentModal(item.resource_id,deleteContentModal)" title="Delete"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<modal #deleteContentModal title="Confirm Delete?" cancelButtonLabel="No" submitButtonLabel="Yes" (onSubmit)="deleteContent(contentDeleteID,deleteContentModal)">
    <modal-content>
        Are you sure you want to delete this record permanently ?
    </modal-content>
</modal>