<!--
  Author : Poonam Gokani
  Desc   : UI for Student change password
  Date   : 24/07/2017
-->
<div class="col-md-6 col-md-offset-3">
    <h2>Change Password</h2>
    <form name="form" (ngSubmit)="f.form.valid && updatePassword(changepwddata)" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !student_old_password.valid}">
            <label for="password">Old Password:*</label>
            <input type="password" class="form-control" name="student_old_password" [(ngModel)]="changepwddata.student_old_password" #student_old_password="ngModel" required [minlength]="8" [maxlength]="16"/>
            <div *ngIf="f.submitted && student_old_password.hasError('required')" class="help-block">Old Password is required</div>
            <div *ngIf="student_old_password.hasError('minlength') && student_old_password.dirty" class="help-block">Password must be at least 8 characters long.</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !student_password.valid}">
            <label for="password">New Password:*</label>
            <input type="password" class="form-control" name="student_password" [(ngModel)]="changepwddata.student_password" #student_password="ngModel" required [minlength]="8" [maxlength]="16"/>
            <div *ngIf="f.submitted && student_password.hasError('required')" class="help-block">Password is required</div>
            <div *ngIf="student_password.hasError('minlength') && student_password.dirty" class="help-block">Password must be at least 8 characters long.</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirm_password.valid}">
            <label for="confirm_password">Re-Type Password:*</label>
            <input type="password" class="form-control" name="confirm_password" [(ngModel)]="changepwddata.confirm_password" #confirm_password="ngModel" required [minlength]="8" [maxlength]="16" [equalTo]="student_password"/>
            <div *ngIf="f.submitted && confirm_password.hasError('required')" class="help-block">Confirm Password is required</div>
            <div *ngIf="confirm_password.hasError('minlength') && confirm_password.dirty" class="help-block">Confirm Password must be at least 8 characters long.</div>
            <br>
            <div *ngIf="confirm_password.dirty && confirm_password.errors?.equalTo" class="help-block">Password and Confirm Password must match.</div>
        </div>
        <div class="form-group">
        	<div class="col-md-4">
        		<label for="email_copy">Send a email copy:</label>
        	</div>
        	<div class="col-md-1">
        		<input type="checkbox" class="form-control" name="send_email" [(ngModel)]="changepwddata.send_email" #send_email="ngModel"/>
        	</div>
		</div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
            <a [routerLink]="['/student/dashboard']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>