<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
            	<div class="card card-stats" >
            		<div class="card-content mainmenu">
		                <a [routerLink]="['/certificate/update/',certificateID]">
				        	<span class="icn-certificate-main">
				        	    <i class="fa fa-cogs col-xs-12"></i>
				            	<span class="col-xs-12 mainmenu-tab">Manage Settings</span>
				        	</span>
			        	</a>
			        </div>
	        	</div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
            	<div class="card card-stats" >
            		<div class="card-content mainmenu">
		            	<a [routerLink]="['/section']">
			        		<span class="icn-certificate-main">
			            		<i class="fa fa-book col-xs-12"></i>
			            		<span class="col-xs-12 mainmenu-tab">Content</span>
			        		</span>
			    		</a>
			    	</div>
			    </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
            	<div class="card card-stats" >
            		<div class="card-content mainmenu">
		            	<a [routerLink]="['/student']">
					        <span class="icn-certificate-main">
					           <i class="fa fa-users col-xs-12"></i>
					           <span class="col-xs-12 mainmenu-tab">Manage Students</span>
					        </span>
					    </a>
					</div>
				</div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
            	<div class="card card-stats" >
            		<div class="card-content mainmenu">
		            	<a>
				            <span class="icn-certificate-main">
				                <i class="fa fa-link col-xs-12"></i>
				                <span class="col-xs-12 mainmenu-tab">Get Link</span>
				            </span>
				        </a>
				    </div>
				</div>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-3 col-md-6 col-sm-6">
        		<div class="card card-stats" >
            		<div class="card-content mainmenu">
		        		<a [routerLink]="['/report']">
					        <span class="icn-certificate-main">
					            <i class="fa fa-line-chart col-xs-12"></i>
					            <span class="col-xs-12 mainmenu-tab">View Reports</span>
					        </span>
					    </a>
					</div>
				</div>
        	</div>
        	<div class="col-lg-3 col-md-6 col-sm-6">
        		<div class="card card-stats" >
            		<div class="card-content mainmenu">
		        		<a [routerLink]="['/previewtest']">
				        	<span class="icn-certificate-main">
				            	<i class="fa fa-eye col-xs-12"></i>
				            	<span class="col-xs-12 mainmenu-tab">Preview</span>
				        	</span>
			    		</a>
			    	</div>
			    </div>
        	</div>
        	<div class="col-lg-3 col-md-6 col-sm-6">
        		<div class="card card-stats" >
            		<div class="card-content mainmenu">
		        		<a [routerLink]="['/community']">
			        		<span class="icn-certificate-main">
			            		<i class="fa fa-comments-o col-xs-12"></i>
			            		<span class="col-xs-12 mainmenu-tab">Manage Community</span>
			        		</span>
			    		</a>
			    	</div>
			    </div>
        	</div>
        	<div class="col-lg-3 col-md-6 col-sm-6">
        		<div class="card card-stats" >
            		<div class="card-content mainmenu">
		        		<a [routerLink]="['/publish']">
			        		<span class="icn-certificate-main">
			            		<i class="fa fa-arrow-right col-xs-12"></i>
			            		<span class="col-xs-12 mainmenu-tab">Publish</span>
			        		</span>
			    		</a>
			    	</div>
        	</div>
        </div>
    </div>
</div>