<div class="col-md-6 col-md-offset-3">
    <h2 *ngIf="!contentID">Add Content</h2>
    <h2 *ngIf="contentID">Update Content</h2>
    <form name="form" (ngSubmit)="f.form.valid && addContent()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !resource_name.valid }">
            <label for="firstName">Content Name</label>
            <input type="text" class="form-control" name="resource_name" [(ngModel)]="contentData.resource_name" #resource_name="ngModel" required />
            <div *ngIf="f.submitted && !resource_name.valid" class="help-block">Section Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !resource_name.valid }">
            <label for="description">Content Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="contentData.description" #description="ngModel" required />
            <div *ngIf="f.submitted && !description.valid" class="help-block">Content Description is required</div>
        </div>
        <br>
        <div class="input-group">
            <div class="col-md-3" style="padding-left:0px !important">
                <label for="url_link">Content:</label>
            </div>
            <div class="col-md-3">
               <input #fileUpload type="file" name="single" ng2FileSelect [uploader]="uploader"/>
               <!--<span *ngIf="contentData.url_link!=null">
                    <img src='uploads/{{contentData.url_link}}' style="width:100px;height:50px"/>
                </span> -->
            </div>
            <br/>
            <div class="has-error">
                <div *ngIf="errorMessage" class="help-block" style="clear : both">  {{errorMessage}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="web_image">Content Icon</label>
            <a data-toggle="modal" data-backdrop="false" href="#chooseIconModal" (click)="chooseIconModal.open()"><i class="material-icons">image</i></a>
            <div *ngIf="contentData.web_image">{{contentData.web_image}}</div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save"/>
            <a [routerLink]="['/content']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>

 <modal #chooseIconModal title="Select Icon" cancelButtonLabel="No" submitButtonLabel="Yes" (onSubmit)="useIcon(chooseIconModal)" id="chooseiconmodal">
    <modal-content>
        <input #video name="web_image" [checked]="contentData.web_image == video.value" value="2-Video.png" type="radio" (click)="contentData.web_image = video.value">
        <label class="drinkcard-cc" for="2-Video.png" style="text-align: left;padding-left: 27px;padding-top:54px;background-image:url(assets/icons/video.png);">Video</label>

        <input #other name="web_image" [checked]="contentData.web_image==other.value" value='5-Other.png' type="radio" (click)="contentData.web_image = other.value">
        <label class="drinkcard-cc" for="5-Other.png" style="text-align:left;padding-left: 27px;padding-top:54px;background-image:url(assets/icons/other.png);">Other</label>

        <input #general name="web_image" [checked]="contentData.web_image==general.value" value='1-General.png' type="radio" (click)="contentData.web_image = general.value">
        <label class="drinkcard-cc" for="1-General.png" style="text-align: left;padding-left: 27px;padding-top:54px;background-image:url(assets/icons/general.png);">General</label>

        <input #image name="web_image" [checked]="contentData.web_image==image.value" value='3-Image.png' type="radio" (click)="contentData.web_image = image.value">
        <label class="drinkcard-cc" for="3-Image.png" style="text-align: left;padding-left: 27px;padding-top:54px;background-image:url(assets/icons/Image.png);">Image</label>

        <input #audio name="web_image" [checked]="contentData.web_image==audio.value" value='6-Audio.png' type="radio" (click)="contentData.web_image = audio.value">
        <label class="drinkcard-cc" for="6-Audio.png" style="text-align: left;padding-left: 27px;padding-top:54px;background-image:url(assets/icons/Audio.png);">Audio</label>

        <input #picture name="web_image" [checked]="contentData.web_image==picture.value" value='4-Picture.png' type="radio" (click)="contentData.web_image = picture.value">
        <label class="drinkcard-cc" for="4-Picture.png" style="text-align: left;padding-left: 34px;padding-top:54px;background-image:url(assets/icons/Picture.png);">Picture</label>

    </modal-content>
</modal>