<div class="col-md-6 col-md-offset-3">
    <h2>Add Content</h2>
    <form name="form" (ngSubmit)="f.form.valid && addContent(f.value)" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !section_name.valid }">
            <label for="firstName">Content Name</label>
            <input type="text" class="form-control" name="section_name" [(ngModel)]="content.section_name" #section_name="ngModel" required />
            <div *ngIf="f.submitted && !section_name.valid" class="help-block">Section Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !section_name.valid }">
            <label for="description">Content Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="content.description" #description="ngModel" required />
            <div *ngIf="f.submitted && !description.valid" class="help-block">Content Description is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contentlink.valid }">
            <label for="content">Content</label>
            <input type="text" class="form-control" name="contentlink" [(ngModel)]="content.contentlink" #contentlink="ngModel" required />
            <div *ngIf="f.submitted && !contentlink.valid" class="help-block">Content Link is required</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': f.submitted && !contenticon.valid }">
            <label for="contenticon">Content Icon</label>
            <!--<input type="text" class="form-control" name="contenticon" [(ngModel)]="content.contenticon" #contenticon="ngModel" required /> -->
             <a data-toggle="modal" data-backdrop="false" href="#chooseIconModal" (click)="chooseIconModal.open()"><i class="material-icons">image</i></a>
            <div *ngIf="f.submitted && !contenticon.valid" class="help-block">Content Icon is required</div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Add"/>
            <a [routerLink]="['/dashboard']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>

 <modal #chooseIconModal title="Select Icon" cancelButtonLabel="No" submitButtonLabel="Yes" (onSubmit)="useIcon()">
    <modal-content>
        <input id="2-Video.png" name="credit-card" value="2-Video.png" type="radio">
        <label class="drinkcard-cc" for="2-Video.png" style="text-align: left;padding-left: 36px;padding-top:54px;background-image:url(https://go.certspring.com/assets/uploads/contents/2-Video.png);">Video</label>

        <input id="5-Other.png" name="credit-card" value="5-Other.png" type="radio">
        <label class="drinkcard-cc" for="5-Other.png" style="text-align:left;padding-left: 36px;padding-top:54px;background-image:url(https://go.certspring.com/assets/uploads/contents/5-Other.png);">Other</label>

        <input id="1-General.png" name="credit-card" value="1-General.png" type="radio">
        <label class="drinkcard-cc" for="1-General.png" style="text-align: left;padding-left: 36px;padding-top:54px;background-image:url(https://go.certspring.com/assets/uploads/contents/1-General.png);">General</label>

        <input id="3-Image.png" name="credit-card" value="3-Image.png" type="radio">
        <label class="drinkcard-cc" for="3-Image.png" style="text-align: left;padding-left: 36px;padding-top:54px;background-image:url(https://go.certspring.com/assets/uploads/contents/3-Image.png);">Image</label>

        <input id="6-Audio.png" name="credit-card" value="6-Audio.png" type="radio">
        <label class="drinkcard-cc" for="6-Audio.png" style="text-align: left;padding-left: 36px;padding-top:54px;background-image:url(https://go.certspring.com/assets/uploads/contents/6-Audio.png);">Audio</label>

        <input id="4-Picture.png" name="credit-card" value="4-Picture.png" type="radio">
        <label class="drinkcard-cc" for="4-Picture.png" style="text-align: left;padding-left: 34px;padding-top:54px;background-image:url(https://go.certspring.com/assets/uploads/contents/4-Picture.png);">Picture</label>

    </modal-content>
</modal>