<div class="col-md-6 col-md-offset-3">
    <h2>User Profile</h2>
    <form name="form" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate>
    	 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !member_active_email.valid }">
            <label for="member_active_email">Email Id</label>
            <input type="text" class="form-control" name="member_active_email" [(ngModel)]="user.member_active_email" #member_active_email="ngModel" required [disabled]="true">
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !member_first_name.valid }">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="member_first_name" [(ngModel)]="user.member_first_name" #member_first_name="ngModel" required />
            <div *ngIf="f.submitted && !member_first_name.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': f.submitted && !member_last_name.valid}">
            <label for="member_last_name">Last Name</label>
            <input type="text" class="form-control" name="member_last_name" [(ngModel)]="user.member_last_name" #member_last_name="ngModel" required />
            <div *ngIf="f.submitted && !member_last_name.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !member_username.valid }">
            <label for="member_username">Username</label>
            <input type="text" class="form-control" name="member_username" [(ngModel)]="user.member_username" #member_username="ngModel" required />
            <div *ngIf="f.submitted && !member_username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update"/>
        </div>
    </form>
</div>