<!--
  Author : Poonam Gokani
  Desc   : UI for Publish Certificate
  Date   : 28/07/2017
 -->
<div id="publish">
	<div class="main-content">
	    <div class="container-fluid">
	        <div class="row">
	        	<div class="card card-stats">
	            	<div class="card-header">PUBLISH CERTIFICATION</div>
	            	<div class="card-content">
	                	<div style="padding:15px 0; text-align:center;">
	                       <p>Click the "Publish" button to publish the certification.</p><a class="btn btn-link" (click)="certificatePublish()">Publish
	                   	   </a>
	                	</div>
	            	</div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>